*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

/* header */

.header{
    width: 84%;
    margin-right: auto;
    margin-left: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-logo{
    width: 100px;
}

.header-button{
    background-color: #13183F;
    border-radius: 25px;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
}

.header-button:hover {
    background-color: #666CA3;
    cursor: pointer;
}


/*  section 1 */

.section-1{
    display: grid;
    grid-template-columns: 1fr;
    width: 85%;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.section-1 .left-container{
    display: flex;
    flex-direction: column;
    gap: 15px  ;
}
.h1{
    color: #13183F;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    padding: 10px;
    padding-left: 0px;
 }

/* .left-container, .right-container{
    width: 100%;
} */

.left-container h1{
    font-size: 30px;
    font-weight: bolder;
    padding: 5px 0;
}

.right-container img{
    width: 100%;
    margin: 20px 0;
}

.section-button{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 25px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    width: 150px;
}

.section-button:hover{
    background:  #FFA7C3;
    cursor: pointer; 
}

/*  section 2 */
.section-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-bottom: 100px;
    width: 85%;
    align-self: center;
}

.special-item{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    height: 95px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.item{
    /* height: 165px; */
    height: 259px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}
h3{
    color: #13183F;
    font-size: 15px;
    /* padding: 5px; */
    position: relative;
    bottom: 45px;
}

p{
    color: #83869A;
    font-size: 16px;
    position: relative;
    bottom: 30px;
}

a{
    color: #F02AA6;
    text-decoration: none;
    position: relative;
    bottom: 20px;
} 

.animation, .design, .crypto,
.business, .photography{
    position: relative;
    top: -50px;
}

.tablet-img, .deskstop-img{
    display: none;
}


/*  footer */

footer{
    background-color:  #13183F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90%;
    align-self: center;

}

.footer-button{
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 25px;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 50px;
}
 
.footer-button:hover{
    background:  linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    cursor: pointer;
} 


/*  Media Queries Tablet*/

@media screen and (min-width: 481px) {
    
    .section-1, .section-2{
        grid-template-columns: 1fr 1fr;
        gap: 45px;
        flex-direction: row;

    }

    .container{
        overflow: hidden;
        padding: 0px 50px;
    }
 
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .header-button{ 
        height: 50px;
    }

    .h1{
        font-size: 40px;
        width: 350px;
        font-style: normal;
    }

    .section-button{
        height: 50px;
        font-size: 16px;
    }

    .left-container{
        margin-top: 100px;
    }

    .description{
        font-size: 18px;
    }

    /* .right-container img{
        width: 100%;
        margin: 20px 0;
    } */

    .special-item{
        height: 300px;
        width: 320px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .item{
        width: 320px;
        height: 300px;
        text-align: left;
    }

    a{
        font-size: 15px;
        padding-top: 20px; 
    }

    .animation, .design, .crypto,
    .business, .photography{
        position: relative;
        top: -65px;
    }

    p .photography{
        height: 50px;
    }

    .right-container > img {
        width: 600px;
        overflow: hidden;
    }

    .tablet-img{
        display: initial;
        position: relative;
        right: 80px;
        bottom: 100px;
        overflow: hidden;
    }

    .mobile-img, .deskstop-img{
        display: none;
    }

    footer{
        width: 762px;
        padding: 20px 40px;
    }
}


/*  media queries Laptop and desktop*/

@media screen and (min-width: 769px) {
    body{
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .header-logo{
        width: 100px;
    }

    .header-button{
        height: 50px;
        font-size: 18px;
    }

  .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 85%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;

  }

  .section-1 .left-container{
    display: flex;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .h1{
   display: flex;
   flex-direction: column;
   width: 450px;
   font-size: 50px;
   line-height: 50px;
}

.description{
    width: 90%;
    line-height: 20px;

}

    .deskstop-img{
        display: initial;
        position: relative;
        right: -160px;
        top: -250px;
    }


    .right-container > img {
        width: 900px;
    }
    .section-button{
        height: 50px;
        font-size: 18px;
    }
     .section-2{
        width: 100%;
        padding: 0 6% 0 8%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5%;
        margin-top: -15%;
        }

    p{
        font-size: 16px;
    }

    .special-item{
        height: 322px;
        width: 350px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .item{
        width: 340px;
        height: 322px;
        padding-top:50px ;
    }

    a{
        font-size: 20px;
        padding-top: 20px; 
        display: flex;
        justify-content: baseline;
    }

    .animation, .design, .crypto,
    .business, .photography{
       position: relative;
       top: -65px;
    }


    .mobile-img, .tablet-img{
        display: none;
    }

    footer{
     width: 100%;
     padding: 1.5% 8%;
    }
   
} 